.custom-button {
  min-width: 165px;
  width: auto;
  height: 50px;
  border: 1px solid transparent;
  padding: 0 35px 0 35px;
  background-color: black;
  font-family: 'Open Sans Condensed';
  letter-spacing: 0.5px;
  line-height: 50px;
  font-size: 15px;
  color: white;
  text-transform: uppercase;
  font-weight: bolder;
  cursor: pointer;
  outline: none;

  &:hover {
    background-color: white;
    color: black;
    border: solid 1px black;
  }

  &.inverted {
    background-color: white;
    color: black;
    border: solid 1px black;

    &:hover {
      background-color: black;
      color: white;
      border: 1px solid transparent;
    }
  }

  &.google-sign-in {
    background-color: #4285f4;
    color: white;

    &:hover {
      background-color: white;
      color: #357ae8;
      border: solid 1px #4285f4;
    }
  }
}
